#header-button {
    font-size: 18px;
    padding: 5px 10px;
    margin: 0 5px;
    background: none;
    border: 1.5px solid #696969;
    border-radius: 5px;
    color: #eeeeee;
    transition: 0.4s;
    cursor: pointer;
  }
  
#header-button:hover {
    transition: 0.4s;
    border-color: #969696;
  }