* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.root {
    min-height: 100%;
}
.App {
    min-height: 100%;
}

footer {
    flex: 0 0 auto;
}
